---
import Layout from "../layouts/Layout.astro";
import Browser from "../components/Browser.astro";
import Menu from "../components/Menu.astro";
import Countrys from "../components/Countrys.astro";
---

<Layout>
  <main>
    <div class="navbar">
      <Browser />
      <Menu />
    </div>

    <Countrys />
  </main>
</Layout>